{% extends "base.html" %}
{% block content %}


{% if cart_items %}

<div class="cart-container">
    <h1>Корзина</h1>
    <div class="table-responsive">
    <table>
        <thead>
            <tr>
                <th>Изображение</th>
                <th>Товар</th>
                <th>Цена со скидкой</th>
                <th>Количество</th>
                <th>Сумма</th>
                <th>Удалить</th>
            </tr>
        </thead>
        <tbody>
            {% for item in cart_items %}
            <tr>
                <td><img src="{{ item.product.image.url }}" alt="{{ item.product.name }}" width="50"></td>
                <td>{{ item.product.name }}</td>
                <td>{{ item.price_with_discount|floatformat:2 }}</td>
                <td>
                    <form method="post" action="{% url 'update_cart' item.product.pk %}">
                        {% csrf_token %}
                        <input type="number" name="quantity" value="{{ item.quantity }}" min="1">
                        <button type="submit" class="update-button">Пересчитать</button>
                    </form>
                </td>
                <td>{{ item.item_total|floatformat:2 }}</td>
                <td><a href="{% url 'remove_from_cart' item.product.pk %}">Удалить</a></td>
            </tr>
            {% endfor %}
        </tbody>
        <tfoot>
            <tr>
                <td colspan="4" class="itog-fog">Итого:</td>
                <td class="total-cell">{{ total|floatformat:2 }}</td>
            </tr>
        </tfoot>
    </table>
</div>
</div>

<div class="checkout-container py-3">
    <h1>Оформление заказа</h1>
    <form method="POST">
        {% csrf_token %}
        
        <h2>Адрес доставки:</h2>
        <select name="delivery_address" required>
            <option value="">Выберите адрес</option>
            {% for address in delivery_addresses %}
                <option value="{{ address.id }}">{{ address.city }}, {{ address.address }}</option>
            {% endfor %}
        </select>
        <p>Добавить новый адрес вы можете в личном кабинете. Если его у вас нет, зайдите/зарегистрируйтесь для оформления заказа.</p>
        
        <h2>Способ доставки: Курьером</h2>
        <p>Постоплата</p>
        
        <button type="submit">Подтвердить заказ</button>
    </form>
</div>

{% else %}
<p>Ваша корзина пуста.</p>
{% endif %}

{% endblock %}