{%extends "base.html"%}

{%block title %}О нас{%endblock%}

{%block content%}
<div class="text-center">
    <h4>О нас</h4>
<h5>Добро пожаловать в интернет-магазин "Долина", ваш надежный партнер в мире онлайн-шопинга!
    Мы стремимся создать уникальное пространство, где каждый покупатель сможет найти именно то,
    что ему нужно, и при этом получить удовольствие от процесса выбора и покупки.</h5>
</div>
<div class="row">
    <div class="col-sm-6 col-md-4">
        <div class="thumbnail">
          <img src="../static/images/mi.jpg" alt="...">
          <div class="caption">
            <h3>Мы</h3>
            <p>"Долина" — это не просто магазин, это целая экосистема качества и пользы. 
                Мы уверены, что шопинг может быть приятным и вдохновляющим процессом, 
                поэтому предлагаем широкий ассортимент товаров в различных категориях. </p>
            <p>Наша цель — удовлетворить потребности клиентов, предлагая только самые 
                качественные продукты по разумным ценам.</p>
          </div>
        </div>
      </div>
    <div class="col-sm-6 col-md-4">
        <div class="thumbnail">
          <img src="../static/images/because.jpg" alt="...">
          <div class="caption">
            <h3>Почему мы?</h3>
            <p>Мы тщательно отбираем поставщиков и контролируем качество всех товаров, 
               чтобы обеспечить нашим клиентам только лучшее.
               Легкая навигация по сайту и интуитивно понятный интерфейс позволяют вам быстро находить нужные товары.</p>
            
          </div>
        </div>
      </div>
    <div class="col-sm-6 col-md-4">
      <div class="thumbnail">
        <img src="../static/images/standart.jpg" alt="...">
        <div class="caption">
          <h3>Наши стандарты</h3>
          <p>Каждая позиция, представленная в нашем ассортименте, 
            проходит многоуровневую проверку, включая тщательную оценку поставщиков, 
            анализ ингредиентов и тестирования на требование безопасности и качества.</p>
          <p>
            Наши стандарты — это не просто слова. 
            Это залог вашей уверенности в том, что вы получаете только самое лучшее.
          </p>
        </div>
      </div>
    </div>
</div>
{%endblock%}