{%extends "base.html"%}

{%block title %}Наши контакты{%endblock%}

{%block content%}

<div class="contact-body">
    <div class="contact-container">
        <div class="row">
            <div class="col-sm-6 col-md-4">
                <div class="thumbnail">
                  <div class="caption">
                    <h2>Телефоны</h2>
                    <p>Поддержка клиентов +7 800 222-11-00</p>
                    <p>  Поддержка корпоративных клиентов +7 800 550-94-11 </p>
                    <p>Звонок по России бесплатный. Служба поддержки работает круглосуточно.</p>
                  </div>
                </div>
            </div>


            <div class="col-sm-6 col-md-4">
                <div class="thumbnail">
                  <div class="caption">
                    <h2>Реквизиты</h2>
                    <p>ООО «Инстамарт Сервис»</p>
                    <p> ИНН 9705118142</p>
                    <p>  КПП 770501001</p>
                    <p> ОГРН 1187746494980</p>
                    <p>   Р/С 40702810538000250727</p>
                    <p>  БАНК СБЕРБАНК</p>
                    <p>  БИК 044525225</p>
                    <p>  К/С 3010181040000000022</p>
                  </div>
                </div>
              </div>
            <div class="col-sm-6 col-md-4">
                <div class="thumbnail">
                  <div class="caption">
                    <h2>Почта</h2>
                    <p>Пресс-служба press@dolina.ru</p>
                    <p>  Отдел контента content@dolina.ru</p>
                    <p> Физические лица hello@dolina.ru</p>
                    <p>   Корпоративные клиенты b2b@dolina.ru</p>
                    <p>  Комплаенс compliance@dolina.ru</p>
                
                  </div>
                </div>
              </div>



              <div class="col-sm-6 col-md-4">
                <div class="thumbnail">
                  <div class="caption">
                    <h2>Адрес</h2>
                    <p>ООО «Инстамарт Сервис», 115035, Москва, вн.тер.г. мун. округ Замоскворечье, ул. Садовническая, 9а, этаж 5, помещ. I, ком.1.</p>

            
            
                  </div>
                </div>
              </div>
  
    </div>
</div>

  
{%endblock%}