body {
    font-family: "Unbounded", sans-serif;
    margin: 0;

}

.container {
    max-width: 1400px;
    margin: 0 auto;

}

.nav {
    background: linear-gradient(to right, #ffffff, #70ff53);
    color:rgb(39, 36, 36);
    font-weight: bold; 
    border-radius: 30px; /*углы*/
    padding: 10px;
    padding-left: 50px;
    margin: 10px;
    margin-top: 30px;
    margin-left: 100px;
    margin-right: 5px;
    
}

header {
    background-color: transparent;
    padding: 16px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0 4px 8px rgba(0, 0.2, 0.2, 0.2);
    padding-bottom: 20px;
    margin-bottom: 35px;
}

.logo h1 {
    margin: 500;
    font-size: 40px;
    font-weight: 900;
    padding-left: 100px;
    color: #000000;
    text-decoration:underline;
    text-decoration-color: #70ff53;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

nav li {
    margin-right: 16px;
    padding-left: 15px;
}

nav a {
    text-decoration: none;
    color: #000000;
    font-weight: 400;
}

main {
    padding: 35px;
}


.content {
    display: flex;
}

.categories {
    width: 250px;
    margin-right: 16px;
    background-color:transparent;
    border-radius: 20px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0.1, 0.2, 0.4, 0.4);

}

.categories h2 {
    font-size: 30px;
    margin-top: 2px;
    font-weight: 400;
    margin-bottom: 15px;
    color: rgb(0, 0, 0)

}

.categories ul {
    list-style: none;
    margin: 0;
    padding: 0;
 
}

.categories li {
    margin-bottom: 8px;
    padding: 5px;
    
}

.categories a {
    font-size: 18px;
    text-decoration: none;
    color: #333;
}

.products {
    flex: 1;
    background: transparent;
    border-radius: 20px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0.2, 0.2, 0.2);
    border: 5px solid #70ff53;
}

.products h2 {
    margin-top: 0;
    margin-bottom: 16px;
    font-weight: 400;

}
/* контейнер продукта */
.product {
    padding: 16px;
    margin-bottom: 16px;
}


.product img {
    max-width: 100%;
    height: auto;
    margin-bottom: 8px;
}

.product h3 {
    margin-top: 0;
    margin-bottom: 8px;
}

.product p {
    margin-bottom: 8px;
}

.product button {
    background-color: #70ff53; 
    border-color:transparent;
    border-width: 2px;
    color:black;
    font-weight: bold; 
    border-radius: 30px; /*углы*/
    padding: 10px 53px;
}


nav a:hover {
    text-decoration: none;
    color: #ffffff; 
}



button:hover
{
    text-decoration: none;
    color: #ffffff; 

}


footer {
    background-color: #333;
    color: #fff;
    padding: 16px 0;
    text-align: center;
}


#week-products .carousel-item img {
    height: 200px;
    object-fit: cover;
    border-radius: 20px;
    transition: transform 0.3s ease-in-out; /*увеличение в карусели картинок сама анимация*/
}

#week-products .carousel-item img:hover {
    transform: scale(1.05);
}

/*товары недели*/
#week-products {
  border-radius: 20px; 
  padding: 0px 60px;
  margin: 20px 60px;
  box-shadow: 0 4px 8px rgba(0, 0.2, 0.2, 0.2);
}
/*заголовок над каруселью добавь потом текста*/
.h2 {
  background-color: #4CAF50;
  border-radius: 20px; 
  padding: 0px 60px;
  margin: 20px 60px;
}

/* О НАС */
.text-center h4{
padding-top: 20px;
font-size: 30px;
}


.card img {
    width: 245px; 
    height: 600px; 
    border-radius: 10px;
}
.card-body p {
    font-size: 20px;
    font-weight: 500;
    color:#000000;
}
.card-body h5 {
    font-size: 15px;
    font-weight: 400;
}
.card{
    width: 400px; 
    height: 400px; 
    margin-bottom: 100px; 
    border: transparent;
    background-color: transparent;
}
.card-body button {
    margin-top: 10px;
    margin-inline-end: auto;
    margin-left: 30px;
    padding-right: 15px;
    background-color: #4CAF50;
    font-weight: 500;
   

}

.card-body img {
    width: 45px; 
    height: 45px; 
    margin-left: 140px;
}
.text-center h5 {
    font-size: 20px;
    margin-top: 20px;
    font-weight: 400;
    margin-bottom: 20px;
    color: rgb(0, 0, 0);
    padding: 20px;
    padding-bottom: 50px;
}

.thumbnail img {
    border-radius: 20px; /*углы*/
    border: 5px solid #454443;
    width:1300px;
    height: 300px;
   
}
.caption p {
    font-size: 17px;
    padding:10px;
}
.caption h3{
    padding-bottom: 5px;
    padding-top: 20px;
}


.total-cell {
    font-size: 20px; 
    font-weight: bold; 
    color: #333; 
    background-color: #f9f9f9; 
    text-align: right; 
    padding: 10px; 
   
    font-size: 25px;
}
.itog-fog {
    font-size: 20px; 
    font-weight: bold; 
    color: #333; 
    background-color: #f9f9f9; 
    text-align: right; 
    padding: 10px; 
    border-bottom: transparent;
}


.card img{
   
    transition: transform 0.3s;
    cursor: pointer; 
}

.card img:hover {
    transform: scale(1.05); 
}




.products button{
    background-color: #4CAF50; 
    color: white; 
    border: none; 
    padding: 10px 15px; 
    border-radius: 5px; 
    cursor: pointer; 
    transition: background-color 0.3s; 

} 




tbody a {
    color: red; 
    text-decoration: none; 
    transition: color 0.3s, text-shadow 0.3s; 
}
.cart-container table {
    width: 100%;
    border-collapse: collapse;
    border-radius: 10px; /* Закругление углов */
    overflow: hidden; /* Чтобы закругленные углы работали */
    box-shadow: 0 4px 8px rgba(0, 0.2, 0.2, 0.4);
}

.cart-container table tfoot tr {
   
    border-left: #454443;
  
}
table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
    font-size: 16px;
    text-align: left;
    margin-bottom: 20px;
   
}
.cart-container h1 {
    margin-bottom: 40px;
}
th, td {
    padding: 12px;
    border-bottom: 1px solid #ddd;
}


th {
    background-color: #ffffff; 
    color: rgb(0, 0, 0); 
    font-weight: 500;
   
    
}


tbody tr:nth-child(even) {
    background-color: #f2f2f2; 
}

tbody tr:hover {
    background-color: #ddd; 
}

td img {
    border-radius: 5px; 
    width: 100px;
    height:100px;
}


button {
    background-color: #4CAF50; 
    color: white; 
    border: none; 
    padding: 10px 15px; 
    border-radius: 5px; 
    cursor: pointer; 
    transition: background-color 0.3s; 
    font-weight: 300;
}

button:hover {
    background-color: #45a049; 
}

/* кнопка удалить */
td a {
    color: red; 
    text-decoration: none; 
}
button.update-button {
    font-weight: normal; 
    background-color: #51db35; 
    color: white; 
    border: none; 
    padding: 10px 15px; 
    border-radius: 5px; 
    cursor: pointer; /* eказатель при наведении */
    transition: background-color 0.3s, transform 0.2s; 
}

button.update-button:hover {
    background-color: #45a049; 
   
}
td a:hover {
    text-decoration: underline; 
    color: rgb(170, 0, 0);
}

/*  о пустой корзине */
p {
    font-size: 18px;
    color: #555; 
}

.checkout-container h1{
    margin-bottom: 50px;
}
.cart-container button {
    background-color: #676767;
}



.btn-custom {
    background-color: #70ff53; 
    color: rgb(0, 0, 0); 
    transition: background-color 0.3s;
}
.btn-custom:hover {
    background-color: #388E3C; 
    color:#f5f5f5
}
.address-card {
    background: #70ff53; 
    color: white; 
    border-radius: 8px; 
    padding: 10px; 
    margin-bottom: 10px; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
    transition: transform 0.3s;
    
}
.address-card:hover {
    transform: scale(1.05); 
}

.btn-sm {
    color:#ffffff;
    background-color: #70ff53;
    border: transparent
}
.btn-danger{
    background-color: #ff0000;

}
.btn-secondary {
    color:rgb(0, 0, 0);
    background-color: #70ff53;
    border:transparent;
    
    

}
.btn-secondary:hover{
    background-color: #388E3C

}

.profile-card {
   
    color: white; 
    border-radius: 50px;
}
.info-card {
    background-color: white; 
    border: 5px #51ff00; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
}

@keyframes backgroundAnimation {
    0% { background-color: #ceffb7; }
    50% { background-color: #7fff5c; }
    100% { background-color: #ceffb7; }
}


.login-container {
    animation: backgroundAnimation 5s infinite alternate;
    background-color: white; 
    padding: 30px; 
    border-radius: 8px; 
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1); 
    width: 400px; 
    max-width: 90%; 
    margin: 50px auto; 
    display: flex; 
    flex-direction: column; 
    align-items: center; 
}

.login-title {
    text-align: center; 
    color: #000000; 
}

.login-label {
    margin-top: 10px; 
    color: #353535; 
    width: 100%; 
}

.login-input {
    width: 100%; 
    padding: 10px; 
    margin: 10px 0; 
    border: 1px solid #ccc; 
    border-radius: 4px; 
    font-size: 16px; 
}

.login-button {
    background-color: #4CAF50; 
    color: white; 
    border: none; 
    padding: 10px; 
    cursor: pointer; 
    font-size: 16px; 
    width: 100%; 
    margin-bottom: 60px;

}

.login-button:hover {
    background-color: #45a049; 
}

.login-text {
    text-align: center; 
    color: #000000; 
    margin-bottom: 100px;
}

.login-link {
    color: #656565; 
    text-decoration: none; 
    margin-bottom: 100px;
    
    
}

.login-link:hover {
    text-decoration: underline; 
}




body.password-reset-body {
    background-color: #e0f7fa; 
    font-family: Arial, sans-serif; 
}

.password-reset-container {

    animation: backgroundAnimation 5s infinite alternate;
    padding: 30px; 
    border-radius: 8px; 
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1); 
    width: 400px; 
    max-width: 90%; 
    margin: 50px auto; 
    display: flex; 
    flex-direction: column; 
    align-items: center; 
}

.password-reset-title {
    text-align: center; 
    color: #333; 
}

.password-reset-label {
    margin-top: 10px; 
    color: #666; 
    width: 100%; 
}

.password-reset-input {
    width: 100%; 
    padding: 10px; 
    margin: 10px 0; 
    border: 1px solid #ccc; 
    border-radius: 4px; 
    font-size: 16px; 
}

.password-reset-button {
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 4px;
    padding: 10px;
    cursor: pointer;
    font-size: 16px;
    width: 100%;
}

.password-reset-button:hover {
    background-color: #45a049;
}

body.code-confirmation-body {
    background-color: #e0f7fa;
    font-family: Arial, sans-serif;
}

.code-confirmation-container {
    animation: backgroundAnimation 5s infinite alternate;
    background-color: white;
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    width: 400px;
    max-width: 90%;
    margin: 50px auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.code-confirmation-title {
    text-align: center;
    color: #333;
}

.code-confirmation-label {
    margin-top: 10px;
    color: #666;
    width: 100%;
}

.code-confirmation-input {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
}

.code-confirmation-button {
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 4px;
    padding: 10px;
    cursor: pointer;
    font-size: 16px;
    width: 100%;
}

.code-confirmation-button:hover {
    background-color: #45a049;
}

body.password-reset-body {
    background-color: #e0f7fa;
    font-family: Arial, sans-serif;
}

.password-reset-container {
    background-color: white;
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    width: 400px;
    max-width: 90%;
    margin: 50px auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.password-reset-title {
    text-align: center;
    color: #333;
}

.password-reset-label {
    margin-top: 10px;
    color: #666;
    width: 100%;
}

.password-reset-input {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
}

.password-reset-button {
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 4px;
    padding: 10px;
    cursor: pointer;
    font-size: 16px;
    width: 100%;
}

.password-reset-button:hover {
    background-color: #45a049;
}



