{% extends "base.html" %}

{% block title %}Восстановление пароля{% endblock %}

{% block content %}
<div class="password-reset-body">
    <div class="password-reset-container">
        <h2 class="password-reset-title">Восстановление пароля</h2>
        <form method="POST" class="password-reset-form">
            {% csrf_token %}
            <label for="email" class="password-reset-label">Введите ваш адрес электронной почты:</label>
            <input type="email" name="email" class="password-reset-input" required>
            <button type="submit" class="password-reset-button">Отправить код</button>
        </form>
    </div>
</div>
{% endblock %}