{% extends "base.html" %}

{% block title %}Сброс пароля{% endblock %}

{% block content %}
<div class="password-reset-body">
    <div class="password-reset-container">
        <h2 class="password-reset-title">Сброс пароля</h2>
        <form method="POST" class="password-reset-form">
            {% csrf_token %}
            <label for="new_password" class="password-reset-label">Новый пароль:</label>
            <input type="password" name="new_password" class="password-reset-input" required>
            <button type="submit" class="password-reset-button">Сбросить пароль</button>
        </form>
    </div>
</div>
{% endblock %}